<app-navbar></app-navbar>

<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper" id="main-content">

        <!-- Content area -->
        <div class="content">
            <div class="row">
                <div class="col-md-10 offset-md-1 pt-5 pb-5">
                    <!-- routes -->
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>